h1 {
  text-align: center;
  font-size: large;
}
h2 {
  text-align: center;
  font-size: small;
}
p1 {
  font-size: xx-small;
}
#title {
  text-align: center;
}
img {
  width: 100%;
  border: 5px solid black;
}
.row1 {
  text-align: center;
  display: flex;
}
.row2 {
  text-align: center;
  display: flex;
}
.row3 {
  text-align: center;
  display: flex;
}
.photo { 
    flex: 1;
    height: fit-content;
    width: fit-content;
}
.education {
  flex: 2;
}
.expirence {
  flex: 3;
}
.hobbies {
  flex: 1;
}
.email {
  flex: 1;
  text-align: center;
}
.phone {
  flex: 2;
  text-align: center;
}

  